@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
  background-color: #121827;
  color: #f8fafc;
}
.grid-container {
  display: grid;
  grid-template-rows: 80px 1fr 550px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
  background-color: #121827;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 16px;
  position: sticky;
  top: 0;
}
.logo {
  filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white);
}

.main {
  height: 100vh;
  background-color: antiquewhite;
  grid-area: main;
}
.footer {
  background-color: #1f2937;
  grid-area: footer;
  display: grid;
  grid-template-rows: repeat(4, 1fr) 6fr;
  justify-items: center;
}
