@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
  font-family: "Poppins";
  background-color: #121827;
}
.grid-container {
  display: grid;
  grid-template-rows: 80px 1fr auto;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
  z-index: 10;
  background-color: #121827;
  color: #f8fafc;
  grid-area: header;
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: sticky;
  top: 0;
}
.logo {
  filter: drop-shadow(2px 0 0 white) drop-shadow(0 2px 0 white) drop-shadow(-2px 0 0 white) drop-shadow(0 -2px 0 white);
}

.main {
  min-height: 100vh;
  background-color: #121827;
  grid-area: main;
}
.footer {
  background-color: #1f2937;
  color: #f8fafc;
  grid-area: footer;
  display: grid;
  grid-template-rows: repeat(4, auto) 6fr;
  align-items: center;
  justify-items: center;
  padding: 48px 64px;
}
.animate-gradient {
  background-size: 300%;
  -webkit-animation: animatedgradient 3s ease infinite alternate;
  -moz-animation: animatedgradient 3s ease infinite alternate;
  animation: animatedgradient 3s ease infinite alternate;
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}
