@tailwind base;
@tailwind components;
@tailwind utilities;

/* ... */

@layer base {
  :root {
    --radius: 0.5rem;
  }
}

body {
  background-color: #121827;
}
.grid-container {
  display: grid;
  grid-template-rows: 80px 1fr 300px;
  grid-template-areas:
    "header"
    "main"
    "footer";
}
.header {
  background-color:greenyellow;
  grid-area: header;
}
.main {
  height: 100vh;
  background-color: antiquewhite;
  grid-area: main;
}
.footer {
background-color: purple;
  grid-area: footer;
}
